.logo {
    width: 400px;
}

.text-pink {
    color: rgb(192, 35, 61);
}

#contactform {
    max-width: 400px;
}

.icon {
    width: 80px;
}

#avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  #avatar img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  #liked-button:hover {
      cursor: auto;
  }
   

  .bg-light-gray {
      background-color: rgb(184, 188, 192) !important; 
  }


  /* Video related */

  video {
      position: relative;
      width: 100%;
  }
  .video-container {
      width: 100%;
      position: relative;
  }